$color_gray: #555;
$color_white: #eee;

#gdpr-visitor-consent-banner {
	background-color: $color_gray;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	z-index: 1000;

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	.inner {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		max-width: 900px;
		padding: 20px;

		@media screen and (min-width: 1000px) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
	}

	p {
		color: $color_white;
		font-size: 12px;
		margin: 0;
		margin-right: 10px;
	}

	button {
		margin: 10px;
		padding: 12px 16px;
		white-space: nowrap;
	}
}
