.rules {

	@media screen and (min-width: 500px) {
		margin-left: 20px;
	}

	.header,
	.script {
		display: flex;
		justify-content: space-between;

		// Three columns
		p {
			font-size: 12px;
			margin: 0 0 10px;

			&:first-child {
				height: 20px;
				width: 18%;

				label {
					height: 20px;
				}

				@media screen and (min-width: 500px) {
					width: 10%;
				}
			}

			&:nth-child(2) {
				width: 22%;

				@media screen and (min-width: 500px) {
					width: 30%;
				}
			}

			&:last-child {
				width: 60%;
			}

			&:nth-child(n + 2) {
				margin-left: 10px;
			}
		}

		// Two columns
		&.locked {

			p {

				&:first-child {
					width: 30%;
				}
		
				&:last-child {
					width: 70%;
				}
			}
		}
	}

	.header {

		p {
			font-weight: bold;
		}
	}
}