#gdpr-visitor-consent-shortcode {

	#gdpr-visitor-consent-form {
		display: block;

		.form {
			background-color: transparent;
			border: none;
			max-height: none;
			overflow-y: visible;
			position: static;
			transform: none;

			h3 {
				text-align: left;
			}

			button.close {
				display: none;
			}
		}

		.overlay {
			display: none;
		}
	}
}
