#gdpr-visitor-consent {

	@import '../../node_modules/vuetify/dist/vuetify.css';
	@import 'admin/ads';
	@import 'admin/header';

	.application {
		// Reset to WordPress default
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	}

	.application--wrap {
		overflow: hidden;

		.container {
			max-width: none;
			padding: 0;
		}
	}

	hr {
		background-color: #000;
	}

	.main-app {
		margin: 0;
		padding-right: 0;
	}

	.save-button-wrapper {
		text-align: right;
	}

	// Sidebar nav
	.navigation-drawer {
		padding-bottom: 0;

		.list > div {
			padding-top: 10px;

			&.active {
				background-color: #ddd;

				input {
					background-color: #ddd;

					&:active,
					&:focus,
					&:hover {
						background-color: #fff;
					}
				}
			}

			&:hover {
				background-color: #ddd;
			}

			.list__tile {
				background-color: transparent;
			}

			.input-group {
				padding-top: 0;
				margin-top: -8px;
				max-height: 32px;

				.input-group__input {
					margin-top: 0;
				}
			}

			// The add group containing div
			&:nth-last-child(3) .list__tile__action {
				min-width: 30px;
			}

			&:nth-last-child(3),
			&:last-child {
				padding-top: 0;
			}

			.lock-icon {
				left: 2px;
				position: absolute;
				top: 6px;
			}
		}

		.input-group__input {
			margin-bottom: 10px;
			margin-top: 10px;
		}

		button {
			right: 0;
			top: -5px;

			&.move {
				height: 20px;
				left: 1px;
				right: auto;
				width: 20px;

				&.up {
					top: -6px;
				}

				&.down {
					bottom: 2px;
					top: auto;
				}
			}
		}

		input {
			margin-bottom: 2px;
			margin-left: 6px;
			margin-right: 28px;
			padding-bottom: 3px;

			&:hover {
				border: 1px solid #aaa;
			}

			&:active,
			&:focus {
				border: 1px solid #000;
			}
		}
	}

	// Cards
	.cards {
		position: relative;

		@media screen and (min-width: 1090px) {
			padding-right: 20px;
		}
	}

	.card {
		max-width: none;

		button.move {
			height: 20px;
			left: 0;
			width: 20px;

			&.up {
				top: 10px;
			}

			&.down {
				top: 36px;
			}
		}

		.card-button {
			height: auto;

			@media screen and (min-width: 450px) {
				height: 30px;
			}

			@media screen and (min-width: 550px) {
				height: 36px;
			}

			@media screen and (min-width: 620px) {
				height: 40px;
			}
		}
	}

	.script-label {
		margin-left: 20px;
		margin-top: 40px;
	}

	// Add script button
	.add-script {
		left: calc(50% - 25px);
		margin: 20px 0;
	}

	// inputs
	input,
	textarea {
		border: none;
		box-shadow: none;

		&:active,
		&:focus,
		&:hover {
			border: none;
			box-shadow: none;
		}
	}

	.input-group--textarea .input-group__input {
		padding-top: 20px;
	}

	.locked .input-group__hint {
		margin-left: 10px;
	}

	.script-textarea {
		font-family: monospace;
	}

	// Select
	.menu__content--select {
		transform: translateX(-40px);

		@media screen and (min-width: 961px) {
			transform: translateX(-172px);
		}

		.card {
			margin-top: 0;
			padding: 0;
		}

		.list {
			padding: 0;
		}
	}
}

// Reset to WordPress default
html {
	text-rendering: initial;
	-moz-osx-font-smoothing: initial;
}

// IE-11 specific
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

	#gdpr-visitor-consent .navigation-drawer .list > div .input-group {
		margin-top: -28px
	}

	#gdpr-visitor-consent .application--wrap {
		max-height: none !important;
		overflow: visible;
	}

	#gdpr-visitor-consent .main-app {
		height: auto;
	}
}
