<template>
	<v-app>
		<v-container>
			<div class="header">
				<h1>{{ titleLabel }}</h1>
				<v-btn light type="submit">{{ saveLabel }}</v-btn>
				<v-checkbox
					dark
					:label="reconsent"
					v-model="reconsentModel"
				/>
				<input
					:name="`${ otherOptionsName }[lastReconsent]`"
					v-model="reconsentModel"
					type="hidden"
				/>
			</div>
			<v-layout class="main-app" fill-height row wrap>
				<v-flex lg3>
					<Groups
						:groups="groups"
						:activeGroup="activeGroup"
						@activeGroupChange="changeActiveGroup"
					/>
				</v-flex>
				<v-flex class="cards" lg9 fill-height>
					<Rules
						v-for="( group, index ) in groups"
						v-show="activeGroup === index"
						:key="`group-rule-${ index }`"
						:group="group"
						:index="index"
					/>
					<Other
						v-show="activeGroup === 'other'"
					/>
				</v-flex>
			</v-layout>
		</v-container>
	</v-app>
</template>
<script>
	import Groups from './Groups.vue';
	import Other  from './Other.vue';
	import Rules  from './Rules.vue';

	export default {

		name: 'App',

		components: {
			Groups,
			Other,
			Rules,
		},

		data() {

			return {
				titleLabel       : window.GDPR_VISITOR_CONSENT_TEXT.title,
				saveLabel        : window.GDPR_VISITOR_CONSENT_TEXT.save,
				reconsent        : window.GDPR_VISITOR_CONSENT_TEXT.reconsent,
				reconsentModel   : false,
				groups           : window.GDPR_VISITOR_CONSENT_DATA.options,
				otherOptionsName : window.GDPR_VISITOR_CONSENT_DATA.otherOptionsName,
				activeGroup      : 0,
			};

		},

		methods: {

			changeActiveGroup( index ) {
				this.activeGroup = index;
			},

		},

		beforeMount() {

			if ( ! this.groups ) {
				this.groups = [ {
					scripts: [ {} ],
				} ];
				this.$forceUpdate();
			}

		}

	}
</script>
