<!-- The rules for a Group -->
<template>
	<div>
		<!-- The rules for this group as a whole -->
		<v-card
			width="100%"
		>
			<!-- Show the label field and button to expand -->
			<v-card-actions>
				<v-text-field
					:label="labels.label"
					v-model="group.name"
				/>
				<v-btn
					@click.native="showRuleDetails = ! showRuleDetails"
					dark
					fab
					small
				>
					<v-icon v-if="showRuleDetails" medium>keyboard_arrow_up</v-icon>
					<v-icon v-else medium>keyboard_arrow_down</v-icon>
				</v-btn>
			</v-card-actions>
			<!-- The hidden fields -->
			<v-slide-y-transition>
				<v-card-text
					v-show="showRuleDetails"
				>
					<!-- Rule description -->
					<v-text-field
						:label="labels.description"
						:name="`${ name }[description]`"
						v-model="group.description"
						textarea
					/>
					<!-- Lock switch -->
					<v-switch
						class="locked"
						v-model="group.locked"
						:label="lockedLabel"
						:hint="group.locked ? '🔒' : '🔓'"
						persistent-hint
					/>
					<input type="hidden"
						v-model="group.locked"
						:name="`${ name }[locked]`"
					/>
				</v-card-text>
			</v-slide-y-transition>
		</v-card>

		<h1 class="script-label">{{ labels.scripts }}</h1>

		<!-- Scripts -->
		<Script
			v-for="(script, i) in group.scripts"
			:key="`script-${ i }`"
			:groupIndex="index"
			:scriptIndex="i"
			:script="script"
			@removeScript="removeScript( i )"
			@moveScriptUp="moveScriptUp( i )"
			@moveScriptDown="moveScriptDown( i )"
		/>

		<!-- Add a new script -->
		<v-btn
			class="add-script"
			dark
			fab
			@click="addScript"
		>
			<v-icon>add</v-icon>
		</v-btn>
	</div>
</template>
<script>

	import Script from './Script.vue';
	
	export default {

		name: 'Rules',

		data() {
			return {
				// Reference: lib/admin-screen.php
				labels          : window.GDPR_VISITOR_CONSENT_TEXT,
				showRuleDetails : false,
			};
		},

		props: [
			'group',
			'index',
		],

		components: {
			Script,
		},

		methods: {

			addScript() {
				this.group.scripts.push( { slug: '', } );
				this.$forceUpdate();
			},

			removeScript( index ) {
				this.group.scripts.splice( index, 1 );
				this.$forceUpdate();
			},

			moveScriptUp( index ) {
				if ( ! this.group.scripts ||
					   this.group.scripts.length <= 1 ||
					   index === 0 ) {
					return;
				}

				const tmp = this.group.scripts[ index - 1 ];
				this.group.scripts[ index - 1 ] = this.group.scripts[ index ];
				this.group.scripts[ index ] = tmp;

				this.$forceUpdate();
			},

			moveScriptDown( index ) {
				if ( ! this.group.scripts ||
					   this.group.scripts.length <= 1 ||
					   index === this.group.scripts.length - 1 ) {
					return;
				}
				
				const tmp = this.group.scripts[ index + 1 ];
				this.group.scripts[ index + 1 ] = this.group.scripts[ index ];
				this.group.scripts[ index ] = tmp;

				this.$forceUpdate();
			},

		},

		computed: {

			lockedLabel() {
				if ( this.group.locked ) {
					return this.labels.locked;
				}
				return this.labels.unlocked;
			},

			name() {
				return `${ window.GDPR_VISITOR_CONSENT_DATA.optionsName }[${ this.index }]`;
			},

		},

		beforeMount() {
			if ( ! this.group.scripts ) {
				this.group.scripts = [ {} ];
				this.$forceUpdate();
			}
		},

	};

</script>
