<!-- An individual Script in a Group -->
<template>
	<v-card
		width="100%"
		@mouseover="hovering = true"
		@mouseout="hovering = false"
	>
		<!-- Show the script name field and button to expand -->
		<v-card-actions>
			<v-layout row wrap>
				<v-flex lg6 style="padding-right:10px;">
					<v-text-field
						:label="labels.scriptName"
						:name="`${ name }[name]`"
						v-model="script.name"
						required
					/>
				</v-flex>
				<v-flex lg6>
					<v-text-field
						:label="labels.slug"
						required
						:error="validateSlug( script.slug )"
						:hint="labels.slugValidation"
						persistent-hint
						@change="slugify( script.slug )"
						:disabled="thirdPartyActive || lockSlug"
						v-model="script.slug"
						:name="`${ name }[slug]`"
					/>
					<input
						type="hidden"
						v-model="script.slug"
						:name="`${ name }[slug]`"
					/>
				</v-flex>
			</v-layout>
			<v-btn
				@click.native="showScriptDetails = ! showScriptDetails"
				dark
				fab
				small
				class="card-button"
			>
				<v-icon v-if="showScriptDetails" medium>keyboard_arrow_up</v-icon>
				<v-icon v-else medium>keyboard_arrow_down</v-icon>
			</v-btn>

			<v-btn
				@click="$emit( 'removeScript' )"
				dark
				fab
				small
				color="red"
				class="card-button"
			>
				<v-icon medium>close</v-icon>
			</v-btn>
			<!-- Move this script up or down -->
			<v-btn
				absolute
				class="move up"
				small
				fab
				@click="$emit( 'moveScriptUp' )"
				v-if="hovering"
			>
				<v-icon small>arrow_drop_up</v-icon>
			</v-btn>
			<v-btn
				absolute
				class="move down"
				small
				fab
				@click="$emit( 'moveScriptDown' )"
				v-if="hovering"
			>
				<v-icon small>arrow_drop_down</v-icon>
			</v-btn>
		</v-card-actions>
		<!-- The hidden fields -->
		<v-slide-y-transition>
			<v-card-text v-show="showScriptDetails">
				<v-text-field
					:label="labels.purpose"
					textarea
					:name="`${ name }[purpose]`"
					v-model="script.purpose"
				/>
				<div
					v-if="thirdPartyScripts.length"
				>
					<v-select
						:items="thirdPartyScripts"
						item-value="slug"
						item-text="label"
						:placeholder="labels.selectScript"
						clearable
						auto
						v-model="thirdPartyModel"
						@change="thirdPartyChange"
					/>
					<input
						v-model="thirdPartyModel"
						type="hidden"
						:name="`${ name }[thirdPartySlug]`"
					/>
					<input
						v-model="thirdPartyActive"
						type="hidden"
						:name="`${ name }[thirdPartyActive]`"
					/>
				</div>
				<v-switch
					v-model="script.location"
					:label="positionLabel"
					:hint="labels.location"
					persistent-hint
					false-value="wp_head"
					true-value="wp_footer"
					v-show="! thirdPartyActive"
				/>
				<input
					type="hidden"
					v-model="script.location"
					:name="`${ name }[location]`"
				/>
				<v-text-field
					class="script-textarea"
					:label="labels.code"
					textarea
					:name="`${ name }[code]`"
					v-model="script.code"
					v-show="! thirdPartyActive"
				/>
			</v-card-text>
		</v-slide-y-transition>
	</v-card>
</template>
<script>

	import getSavedSlugs from './get-saved-slugs';

	const savedSlugs = getSavedSlugs();
	
	export default {

		name: 'Script',

		data() {
			return {
				// Reference: lib/admin-screen.php
				labels            : window.GDPR_VISITOR_CONSENT_TEXT,
				showScriptDetails : false,
				hovering          : false,
				thirdPartyModel   : '',
				thirdPartyScripts : window.GDPR_VISITOR_CONSENT_DATA.thirdPartyScripts,
				thirdPartyActive  : false,
				lockSlug          : false,
			};
		},

		props: [
			'groupIndex',
			'scriptIndex',
			'script',
		],

		methods: {

			validateSlug( slug ) {
				if ( ! slug.length ) {
					return false;
				}

				if ( ! slug.match( /^[a-z0-9]+(?:-[a-z0-9]+)*$/ ) ) {
					return true;
				}

				return false;
			},

			slugify( slug ) {
				slug = slug
					.toLowerCase()
					.replace( ' ', '-' );
				this.script.slug = slug
			},

			thirdPartyChange( value ) {
				if ( value ) {
					this.thirdPartyActive = true;
					this.script.slug      = value;
				} else {
					this.thirdPartyActive = false;
				}
			},

		},

		computed: {

			positionLabel() {
				if ( this.script.location === 'wp_footer' ) {
					return 'wp_footer'
				}
				return 'wp_head';
			},

			name() {
				return `${ window.GDPR_VISITOR_CONSENT_DATA.optionsName }[${ this.groupIndex }][scripts][${ this.scriptIndex }]`;
			},

		},

		beforeMount() {
			// Defaults if third part script is active
			if ( this.script.thirdPartyActive ) {
				this.thirdPartyActive = true;
				this.thirdPartyModel  = this.script.thirdPartySlug;
				this.script.slug      = this.script.thirdPartySlug;
			}

			// Lock slugs that have already been saved
			if ( this.script.slug ) {
				this.lockSlug = true;
			}
		},

		beforeUpdate() {
			// If this slug is already saved, lock it!
			if ( savedSlugs.includes( this.script.slug ) ) {
				this.lockSlug = true;
			} else {
				this.lockSlug = false;
			}
		},

	};

</script>
