.pixel-jar-ads {
	margin-top: 60px;
	
	h3 {
		text-align: center;
	}

	.ad-flex-container {

		@media screen and (min-width: 600px) {
			display: flex;
			justify-content: space-between;
		}
	}

	.ad {
		margin-top: 40px;
		text-align: center;

		@media screen and (min-width: 600px) {
			margin-top: 0;
			width: 32%;
		}

		img {
			height: 100px;
			max-width: 200px;
			width: 80%;
		}
	}
}
